body {
  background-image: url(img/header-bacasable.jpg);
}

.footer-top {
  background-image: url(img/header-bacasable.jpg);
}

#prelude {
}

#prelude a {
  background-color: #68682E;
  opacity: .7;
  color: #fff;
}
