<article id="p{{tpl:EntryID}}" class="post short {{tpl:EntryIfOdd}} {{tpl:EntryIfFirst}}" lang="{{tpl:EntryLang}}" role="article">

  <header class="post-header {{tpl:EntryCategoryShortURL}}">
    <h3 class="visually-hidden">{{tpl:EntryTitle encode_html="1"}}</h3>
    <p class="header-info author">{{tpl:EntryDate format="%A %e %B %Y}}</p>
    <p class="header-info room">Affiché à {{tpl:EntryDate format="%R"}}</p>
  </header>

  <div class="post-content">
    <p>
      <a aria-hidden="true" href="{{tpl:EntryURL}}">{{tpl:EntryTitle encode_html="1"}}</a> <span aria-hidden="true">&rarr;</span>
      {{tpl:EntryContent full="1" encode_html="1" remove_html="1" cut_string="280"}}
      <tpl:EntryIfContentCut full="1" encode_html="1" remove_html="1" cut_string="280">
        <span class="ellipsis">&nbsp;[&#8230;]</span>
      </tpl:EntryIfContentCut>
    </p>
  </div>

</article>
