<article id="p{{tpl:EntryID}}" class="post short {{tpl:EntryIfOdd}} {{tpl:EntryIfFirst}}" lang="{{tpl:EntryLang}}" role="article">

  <!-- Si le billet est dans la rubrique Notes de la Direction le cartouche
  			a une class spécifique et ne comporte pas les mêmes informations -->
	<tpl:EntryIf has_category="1">
		<header class="post-header {{tpl:EntryCategoryShortURL}}">
			<h3 class="visually-hidden">{{tpl:EntryTitle encode_html="1"}}</h3>
      <tpl:EntryIf category="Notes-de-la-Direction">
        <p class="header-info author">Note de la direction</p>
      {{tpl:else}}
  			<p class="header-info author">{{tpl:EntryCategory}}</p>
      </tpl:EntryIf>
			<p class="header-info room">{{tpl:lang Billboard}}</p>
		</header>
	</tpl:EntryIf>

  <!-- Sinon, cartouche classique -->
	<tpl:EntryIf has_category="0">
	  <header class="post-header {{tpl:AuthorRoomClass}}">
			<h3 class="visually-hidden">{{tpl:EntryTitle encode_html="1"}}</h3>
			<p class="header-info author">{{tpl:EntryAuthorDisplayName}}</p>
			<p class="header-info room">{{tpl:AuthorRoom role="1"}}</p>
		</header>
	</tpl:EntryIf>

  <div class="post-content">
    <p><tpl:EntryIf has_category="0"><span class="hour {{tpl:AuthorRoomClass}}">{{tpl:EntryDate format="%R"}}</span></tpl:EntryIf>
      <a href="{{tpl:EntryURL}}">{{tpl:EntryTitle encode_html="1"}}</a> <span aria-hidden="true">&rarr;</span>
      {{tpl:EntryContent no_first_aside="1" full="0" encode_html="1" remove_html="1" cut_string="280"}}
      <tpl:EntryIfContentCut full="0" encode_html="1" remove_html="1" cut_string="280">
        <span class="ellipsis">&nbsp;[&#8230;]</span>
      </tpl:EntryIfContentCut>
    </p>
  </div>

</article>
