<article class="post simple" id="p{{tpl:EntryID}}" role="article" lang="{{tpl:EntryLang}}">

	<div class="post-banner">
		<tpl:EntryIf has_category="1">
			<header class="post-header {{tpl:EntryCategoryShortURL}}">
	      <tpl:EntryIf category="Notes-de-la-Direction">
	        <p class="header-info author">Note de la direction</p>
	      {{tpl:else}}
	  			<p class="header-info author">{{tpl:EntryCategory}}</p>
	      </tpl:EntryIf>
				<p class="header-info room">{{tpl:lang Billboard}}</p>
				<p class="header-info date"><time datetime="{{tpl:EntryDate iso8601="1"}}">{{tpl:EntryDate}}</time></p>
			</header>
		</tpl:EntryIf>

		<tpl:EntryIf has_category="0">
		  <header class="post-header {{tpl:AuthorRoomClass}}">
				<p class="header-info author">{{tpl:EntryAuthorDisplayName}}</p>
				<p class="header-info room">{{tpl:AuthorRoom role="1"}}</p>
				<p class="header-info date"><time datetime="{{tpl:EntryDate iso8601="1"}}">{{tpl:EntryDate format="%A %d %B %Y <span>%R"</span>}}</time></p>
			</header>
		</tpl:EntryIf>

		<h2 class="post-title">{{tpl:EntryTitle encode_html="1"}}</h2>
	</div>

	<div class="post-full">
		<!-- # --BEHAVIOR-- publicEntryBeforeContent -->
		{{tpl:SysBehavior behavior="publicEntryBeforeContent"}}

		<tpl:EntryIf type="page" extended="1"><div class="post-excerpt">{{tpl:EntryExcerpt}}</div></tpl:EntryIf>
		<div class="post-content">{{tpl:EntryContent}}</div>

		<!-- # --BEHAVIOR-- publicEntryAfterContent -->
		{{tpl:SysBehavior behavior="publicEntryAfterContent"}}
	</div>

</article>
