<p id="gotop"><a href="#prelude">{{tpl:lang Page top}}</a></p>

<footer class="footer" id="footer">
  <div class="footer-top" role="navigation" aria-labelledby="nav_auberge">
    <div class="container">
      <h2 id="nav_auberge">Informations de l’auberge</h2>
      <nav class="infos-auberge" role="navigation">
        <ul>
          <li><a href="{{tpl:BlogURL}}category/Notes-de-la-Direction">Notes de la direction</a></li>
          <li><a href="{{tpl:BlogURL}}pages/localisation">Localisation</a></li>
          <li><a href="{{tpl:BlogURL}}pages/nos-chambres">Nos chambres</a></li>
          <li><a href="{{tpl:BlogURL}}pages/menu-du-restaurant">Notre carte</a></li>
          <li><a href="{{tpl:BlogURL}}pages/comment-participer">Réservations</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="footer-search">
    <h2 class="search-title">Rechercher dans les textes</h2>
    <form id="search" class="search-form" action="{{tpl:BlogURL}}" method="get">
      <p class="input-search-group" role="search">
        <label class="visually-hidden" for="q">Rechercher dans les textes</label>
        <input type="search" id="q" name="q" spellcheck="false">
        <button class="button submit" type="submit"><svg class="icon icon-search" aria-hidden="true" focusable="false"><use xlink:href="{{tpl:BlogThemeURL}}/img/sprite.svg#i_search"></use></svg><span class="visually-hidden">lancer la recherche</span></button>
      </p>
    </form>
  </div>

  <h2 id="nav_site" class="visually-hidden">Informations et contact</h2>

  <div class="footer-bottom" id="blogmenu" aria-labelledby="nav_site">
    <section>
      <h3>Les textes</h3>
      <ul class="blog-links">
          <li class="home"><a href="{{tpl:BlogURL}}"><svg class="icon icon-home" aria-hidden="true" focusable="false"><use xlink:href="{{tpl:BlogThemeURL}}/img/sprite.svg#i_home"></use></svg>Accueil</a></li>
          <li class="archive"><a href="{{tpl:BlogArchiveURL}}"><svg class="icon icon-archive" aria-hidden="true" focusable="false"><use xlink:href="{{tpl:BlogThemeURL}}/img/sprite.svg#i_archive"></use></svg>Tous les textes (résumés)</a></li>
          <li class="group"><a href="{{tpl:BlogURL}}personnages"><svg class="icon icon-group" aria-hidden="true" focusable="false"><use xlink:href="{{tpl:BlogThemeURL}}/img/sprite.svg#i_group"></use></svg>Les personnages</a></li>
          <li class="contrainte"><a href="{{tpl:BlogURL}}tags"><svg class="icon icon-contrainte" aria-hidden="true" focusable="false"><use xlink:href="{{tpl:BlogThemeURL}}/img/sprite.svg#i_contrainte"></use></svg>Contraintes littéraires</a></li>
      </ul>
    </section>
    <section>
      <h3>Le jeu</h3>
      <ul class="blog-infos">
          <li><a href="{{tpl:BlogURL}}pages/presentation">Présentation du projet</a></li>
          <li><a href="{{tpl:BlogURL}}pages/regles-du-jeu">Règles du jeu</a></li>
          <li><a href="{{tpl:BlogURL}}pages/comment-participer">Comment participer&nbsp;?</a></li>
          <li><a href="{{tpl:BlogURL}}pages/faq">Questions fréquentes</a></li>
      </ul>
    </section>
    <section>
      <h3>Contact</h3>
      <ul class="blog-legal">
          <li><a href="{{tpl:ContactMeURL}}" class="courriel"><svg class="icon icon-courriel" aria-hidden="true" focusable="false"><use xlink:href="{{tpl:BlogThemeURL}}/img/sprite.svg#i_courriel"></use></svg>Nous écrire</a></li>
          <li><a href="https://twitter.com/AubergeDB" class="twitter"><svg class="icon icon-twitter" aria-hidden="true" focusable="false"><use xlink:href="{{tpl:BlogThemeURL}}/img/sprite.svg#i_twitter"></use></svg>Twitter</a></li>
          <li><a href="https://mstdn.nrkn.fr/@AubergeDB" class="masto"><svg class="icon icon-mastodon" aria-hidden="true" focusable="false"><use xlink:href="{{tpl:BlogThemeURL}}/img/sprite.svg#i_mastodon"></use></svg>Mastodon</a></li>
          <li><a href="/forum">Forum des auteurs <i>(privé)</i></a></li>
      </ul>
    </section>
  </div>
  <ul class="feeds">
    <li class="feed"><a href="{{tpl:BlogFeedURL type="atom"}}"><svg class="icon icon-rss" aria-hidden="true" focusable="false"><use xlink:href="{{tpl:BlogThemeURL}}/img/sprite.svg#i_rss"></use></svg>S’abonner aux textes</a></li>
    <li class="feed"><a href="{{tpl:BlogFeedURL}}/comments"><svg class="icon icon-rss" aria-hidden="true" focusable="false"><use xlink:href="{{tpl:BlogThemeURL}}/img/sprite.svg#i_rss"></use></svg>S’abonner aux commentaires</a></li>
  </ul>
  <p class="quality"><a href="{{tpl:BlogURL}}pages/accessibilite" title="informations accessibilité, qualité web, modération">Informations</a> sur le respect des standards d’accessibilité, du référentiel Opquast des bonnes pratiques de qualité web et sur la modération de ses espaces publics.</p>
  <div class="footer-credits" role="contentinfo">
    <p class="poweredby">{{tpl:SysPoweredBy}}<svg class="icon icon-dotclear" aria-hidden="true" focusable="false"><use xlink:href="{{tpl:BlogThemeURL}}/img/sprite.svg#i_dotclear"></use></svg></p>
    <p class="legal"><a href="{{tpl:BlogURL}}pages/mentions-legales">Mentions légales</a></p>
    {{tpl:AccessConfig title="Paramètres d’accessibilité" icon="0" font="1" linespacing="1" justification="0" contrast="1" image="1"}}
  </div>
</footer>
