<tpl:Pagination>
  <nav class="pagination" aria-label="Pagination" role="navigation">
    <ul>
      <tpl:PaginationIf end="0">
        <li class="prev"><a href="{{tpl:PaginationURL offset="+1"}}">
        <span aria-hidden="true">&#171; </span>
        {{tpl:lang previous entries}}</a></li>
      </tpl:PaginationIf>
      <tpl:PaginationIf end="1">
        <li class="prev" aria-hidden="true">&nbsp;</li>
      </tpl:PaginationIf>

      <li class="current-page"><span class="visually-hidden">{{tpl:lang active page}}"></span>{{tpl:lang page}} {{tpl:PaginationCurrent}} {{tpl:lang of}} {{tpl:PaginationCounter}}</li>

      <tpl:PaginationIf start="0">
        <li class="next"><a href="{{tpl:PaginationURL offset="-1"}}">
        {{tpl:lang next entries}}<span aria-hidden="true"> &#187;</span>
</a></li>
      </tpl:PaginationIf>
      <tpl:PaginationIf start="1">
        <li class="next" aria-hidden="true">&nbsp;</li>
      </tpl:PaginationIf>
    </ul>
  </nav>
</tpl:Pagination>
