<div class="header">

  <a class="go-a11y" href="{{tpl:BlogURL}}pages/accessibilite">Informations sur l’accessibilité du site</a>


  <ul class="skip-links" id="prelude">
    <li><a href="#main">{{tpl:lang To content}}</a></li>
    <li><a href="#blogmenu">{{tpl:lang To menu}}</a></li>
    <li><a href="#q">{{tpl:lang To search}}</a></li>
  </ul>

  <header class="banner" role="banner">
    <h1 class="site-title"><a class="site-title__link"
      href="{{tpl:BlogURL}}"><span class="site-title__text">{{tpl:BlogName encode_html="1"}}</span></a></h1>
    <p class="site-baseline">{{tpl:BlogDescription}}</p>
  </header>

  <!-- # --BEHAVIOR-- publicTopAfterContent -->
  {{tpl:SysBehavior behavior="publicTopAfterContent"}}

  <!-- # {{tpl:SimpleMenu class="nav header__nav"}} -->
</div>
