{{tpl:extends parent="__layout.html"}}

<tpl:Block name="head-title">
	<title>{{tpl:lang Archives}} - {{tpl:BlogName encode_html="1"}}</title>
</tpl:Block>

<tpl:Block name="head-linkrel">
	<tpl:Archives>
		<link rel="chapter" href="{{tpl:ArchiveURL}}" title="{{tpl:ArchiveDate encode_html="1"}}" />
	</tpl:Archives>
	<link rel="contents" title="{{tpl:lang Archives}}" href="{{tpl:BlogArchiveURL}}" />
	<tpl:Categories>
		<link rel="section" href="{{tpl:CategoryURL}}" title="{{tpl:CategoryTitle encode_html="1"}}" />
	</tpl:Categories>
	<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-archive"></tpl:Block>

<tpl:Block name="main-content">
	<header id="content-info">
		<h2>Tous les textes</h2>
	</header>

	<nav class="pagination" role="navigation" aria-label="Accès direct aux mois">
		<ul>
			<li><a href="#Y2020-M06">juin 2020</a></li>
			<li><a href="#Y2020-M07">juillet 2020</a></li>
			<li><a href="#Y2020-M08">août 2020</a></li>
			<li><a href="#Y2020-M09">septembre 2020</a></li>
		</ul>
	</nav>

  <div class="content-inner post simple">
  	<!-- bouton plier/déplier les résumés  -->
	  <p class="toggle-wrapper"><button id="sg-toggle-comments" class="sg-toggle-comments" aria-expanded="true">résumés</button></p>

		<!-- le contenu de chaque annee dans une div -->
		<tpl:Archives order="asc">

		<!-- Ouverture div mois -->
		<div id="Y{{tpl:ArchiveDate format="%Y"}}-M{{tpl:ArchiveDate format="%m"}}" class="one-month">

			<h3 class="chapter-separator"><span class="chapter-title">{{tpl:ArchiveDate encode_html="1" format="%B %Y"}}</span></h3>

				<tpl:Entries no-content="1" order="asc">
					<tpl:EntriesHeader>
					<ul class="one-day-list">
					</tpl:EntriesHeader>

				    <tpl:DateHeader>
				      <h4><time datetime="{{tpl:EntryDate iso8601="1"}}">{{tpl:EntryDate}}</time></h4>
				    </tpl:DateHeader>

						<tpl:EntryIf has_category="1">
							<li class="arch-post {{tpl:EntryCategoryShortURL}}">
							<p class="arch-post-p arch-post-adb">Note de la Direction</p>
						</tpl:EntryIf>
						<tpl:EntryIf has_category="0">
							<li class="arch-post {{tpl:AuthorRoomClass}}">
							<p class="arch-post-p arch-post-author">{{tpl:EntryAuthorDisplayName}}</p>
							<!-- <p class="arch-post-p arch-post-day">{{tpl:AuthorRoom}}</p> -->
						</tpl:EntryIf>
							<p class="arch-post-p arch-post-title"><a href="{{tpl:EntryURL}}">{{tpl:EntryTitle}}</a></p>
							<!-- <p class="arch-post-p arch-post-day">{{tpl:AuthorRoom}}</p> -->

						<tpl:EntryIf extended="1">
							<div class="sg-comment is-visible">
								{{tpl:EntryExcerpt}}
							</div>
						</tpl:EntryIf>
						</li>

					<tpl:EntriesFooter>
					</ul>
		</div>
					</tpl:EntriesFooter>
				</tpl:Entries>
<!-- # fin du mois -->

		</tpl:Archives>

	</div> <!-- # End .content-inner -->

	<nav class="pagination" role="navigation" aria-label="Naviguer dans la page">
		<ul>
			<li><a href="#Y2020-M06">juin 2020</a></li>
			<li><a href="#Y2020-M07">juillet 2020</a></li>
			<li><a href="#Y2020-M08">août 2020</a></li>
			<li><a href="#Y2020-M09">septembre 2020</a></li>
		</ul>
	</nav>

</tpl:Block>
