{{tpl:extends parent="__layout.html"}}

<tpl:Block name="head-title">
  <title>{{tpl:AuthorCommonName encode_html="1"}} - {{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf></title>
</tpl:Block>

<tpl:Block name="meta-robots">
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX"}}" />
</tpl:Block>

<tpl:Block name="meta-entry">
  <meta name="description" lang="{{tpl:BlogLanguage}}" content="{{tpl:AuthorDesc cut_string="180" encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
	<meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
	<meta name="date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
</tpl:Block>

<tpl:Block name="head-linkrel">
	<link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
	<tpl:Entries no_content="1">
		<tpl:EntriesHeader>
			<tpl:Pagination>
				<tpl:PaginationIf end="0">
					<link rel="prev" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}" />
				</tpl:PaginationIf>
				<tpl:PaginationIf start="0">
					<link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}" />
				</tpl:PaginationIf>
			</tpl:Pagination>
		</tpl:EntriesHeader>
		<link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle encode_html="1"}}" />
	</tpl:Entries>

  <tpl:Categories>
  <link rel="section" href="{{tpl:CategoryURL}}" title="{{tpl:CategoryTitle encode_html="1"}}" />
  </tpl:Categories>

	<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:AuthorFeedURL type="atom"}}" />
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-author"></tpl:Block>

<tpl:Block name="main-content">
  <div id="content-info">
    <h2 class="chapter-separator"><span class="chapter-title">{{tpl:AuthorCommonName encode_html="1"}}</span></h2>
<!--
    <ul class="content-info__feed">
		  <li><a type="application/atom+xml" href="{{tpl:AuthorFeedURL type="atom"}}"
      title="{{tpl:lang This author's entries Atom feed}}" class="feed">{{tpl:lang Entries feed}}</a></li>
      <li><a type="application/atom+xml" href="{{tpl:AuthorFeedURL type="atom"}}/comments"
      title="{{tpl:lang This authors's entries comments Atom feed}}" class="feed">{{tpl:lang Comments feed}}</a></li>
    </ul>

 -->
    <div class="content-info-auth {{tpl:AuthorRoomClass}}">
      <div class="perso-sejour">{{tpl:AuthorCheckStays list=" <ul>%s</ul>" item="<li>du %1$s au %2$s - %3$s</li>" staff="%s" room="dans la chambre %s"}}</div>
      {{tpl:AuthorDesc}}
      <p class="all-authors-link"><a href="{{tpl:BlogURL}}personnages">[Tous les personnages]</a></p>
    </div>

  </div>

  <div class="content-inner simple">
  <tpl:Entries order="asc">
    <tpl:EntryIf has_category="0">

    <article id="p{{tpl:EntryID}}" class="post short {{tpl:EntryIfOdd}} {{tpl:EntryIfFirst}}" lang="{{tpl:EntryLang}}" role="article">

      <header class="post-header {{tpl:AuthorRoomClass}}">
        <p class="header-info date">{{tpl:EntryDate format="%e %B"}}</p>
        <h3 class="header-info title"><a href="{{tpl:EntryURL}}">{{tpl:EntryTitle encode_html="1"}}</a></h3>
      </header>

      <tpl:EntryIf extended="1">
        <div class="post-content">
          {{tpl:EntryExcerpt}}
        </div>
      </tpl:EntryIf>
    </article>

</tpl:EntryIf>

    <tpl:EntriesFooter>
			{{tpl:include src="_pagination.html"}}
		</tpl:EntriesFooter>
	</tpl:Entries>
	</div> <!-- End #content-inner -->
</tpl:Block>
