{{tpl:extends parent="__layout.html"}}

<tpl:Block name="head-title">
  <title>Personnages - {{tpl:BlogName encode_html="1"}}</title>
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-authors"></tpl:Block>

<tpl:Block name="main-content">
  <div class="content-inner post simple">
    <header id="content-info">
      <h2 class="chapter-separator"><span class="chapter-title">Les personnages</span></h2>
    </header>

    <ul class="perso-list">
    <tpl:Authors>
      <li class="perso {{tpl:AuthorRoomClass}}">
        <p class="perso-name"><a href="{{tpl:AuthorPostsURL}}">{{tpl:AuthorCommonName encode_html="1"}}</a></p>
        <div class="perso-desc">{{tpl:AuthorDesc}}</div>
    </tpl:Authors>
    </ul>
  </div>
</tpl:Block>

<!--
        <div class="perso-sejour">{{tpl:AuthorCheckStays list=" <ul>%s</ul>" item="<li>Du %1$s au %2$s %3$s</li>" staff="comme %s" room="dans la chambre %s"}}</div>
       </li>
 -->
