{{tpl:extends parent="__layout.html"}}

<tpl:Block name="head-title">
  <title>{{tpl:ContactMePageTitle encode_html="1"}} - {{tpl:BlogName encode_html="1"}}</title>
</tpl:Block>

<tpl:Block name="meta-robots">
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX,NOARCHIVE"}}" />
</tpl:Block>

<tpl:Block name="head-linkrel">
  <link rel="contents" title="{{tpl:lang Archives}}" href="{{tpl:BlogArchiveURL}}" />
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-contactme"></tpl:Block>

<tpl:Block name="main-content">
  <header id="content-info">
    <h2>{{tpl:ContactMePageTitle encode_html="1"}}</h2>
  </header>

  <article class="content-inner post simple">
    <tpl:ContactMeIf sent="1">{{tpl:ContactMeMsgSuccess}}</tpl:ContactMeIf>

    <tpl:ContactMeIf error="1">{{tpl:ContactMeMsgError}}</tpl:ContactMeIf>

    <tpl:ContactMeIf sent="0">
      {{tpl:ContactMeFormCaption}}
      <form action="{{tpl:ContactMeURL}}" method="post" id="comment-form" class="contactme">
        <p class="form-help">Sauf pour le champ {{tpl:lang Website}}, tous les champs sont obligatoires.</p>
          <p class="field"><label for="c_name">{{tpl:lang Name or nickname}}&nbsp;:</label>
          <input name="c_name" id="c_name" type="text" size="30" maxlength="255"
          value="{{tpl:ContactMeName encode_html="1"}}" required aria-required="true" />
          </p>

          <p class="field"><label for="c_mail">{{tpl:lang Email address}}&nbsp;:</label>
          <input name="c_mail" id="c_mail" type="email" size="30" maxlength="255"
          value="{{tpl:ContactMeEmail encode_html="1"}}" required aria-required="true"/>
          </p>

          <p class="field"><label for="c_site">{{tpl:lang Website}}
          ({{tpl:lang optional}})&nbsp;:</label>
          <input name="c_site" id="c_site" type="url" size="30" maxlength="255"
          value="{{tpl:ContactMeSite encode_html="1"}}" />
          </p>

          <p class="field"><label for="c_subject">{{tpl:lang Subject}}&nbsp;:</label>
          <input name="c_subject" id="c_subject" type="text" size="30" maxlength="255"
          value="{{tpl:ContactMeSubject encode_html="1"}}" required aria-required="true" />
          </p>

          <p style="display:none"><input name="f_mail" type="text" size="30"
          maxlength="255" value="" /></p>

          <p class="field"><label for="c_message">{{tpl:lang Message}}&nbsp;:</label>
          <textarea name="c_message" id="c_message" cols="35"
          rows="7" required aria-required="true">{{tpl:ContactMeMessage raw="1" encode_html="1"}}</textarea>
          </p>

          <p class="buttons"><button type="submit" class="button submit">{{tpl:lang Send}}</button></p>
      </form>
    </tpl:ContactMeIf>
  </article> <!-- # End #content-inner -->
</tpl:Block>
