{{tpl:extends parent="__layout.html"}}

<tpl:Block name="main-content">

  <tpl:Entries>

    <tpl:LoopPosition start="1" length="1">
      <div class="home_cards">
    </tpl:LoopPosition>

    <tpl:DateHeader>
      <tpl:LoopPosition start="2">
        </div><!-- # on ferme la div home_cards_day précédente -->
      </tpl:LoopPosition>
      <h2 class="chapter-separator"><time datetime="{{tpl:EntryDate iso8601="1"}}" class="chapter-title">{{tpl:EntryDate}}</time></h2>
      <div class="posts-group">
    </tpl:DateHeader>

    {{tpl:include src="_entry-short.html"}}

    <tpl:DateHeader>
      <tpl:LoopPosition start="-1">
        </div><!-- # on ferme la dernière div posts-group -->
      </tpl:LoopPosition>
    </tpl:DateHeader>

    <!-- # Pagination -->
    <tpl:EntriesFooter>
      <tpl:LoopPosition start="-1">
        </div><!-- # on ferme la div home_cards -->
      </tpl:LoopPosition>
      {{tpl:include src="_pagination.html"}}
    </tpl:EntriesFooter>

  </tpl:Entries>

</tpl:Block>  <!-- # main-content -->
