{{tpl:extends parent="__parent__"}}

<tpl:Block name="main-content">
	<nav class="pagination" role="navigation" aria-label="{{tpl:lang Entries}}">
    <ul>
        <li class="prev"><tpl:EntryPrevious><a href="{{tpl:EntryURL}}" class="prev"><span aria-hidden="true">&#171; </span>{{tpl:lang Previous entry:}}</a></tpl:EntryPrevious></li>
        <li class="next"><tpl:EntryNext> <a href="{{tpl:EntryURL}}" class="next">{{tpl:lang Next entry:}}<span aria-hidden="true"> &#187;</span></a></tpl:EntryNext></li>
    </ul>
	</nav>

	{{tpl:include src="_simple-entry.html"}}

  <nav class="pagination" role="navigation" aria-label="{{tpl:lang Entries}}">
    <ul>
        <li class="prev"><tpl:EntryPrevious><a href="{{tpl:EntryURL}}" class="prev"><span aria-hidden="true">&#171; </span>{{tpl:lang Previous entry:}}</a></tpl:EntryPrevious></li>
        <li class="next"><tpl:EntryNext> <a href="{{tpl:EntryURL}}" class="next">{{tpl:lang Next entry:}}<span aria-hidden="true"> &#187;</span></a></tpl:EntryNext></li>
    </ul>
	</nav>
</tpl:Block>
