{{tpl:extends parent="__layout.html"}}

<tpl:Block name="head-title">
	<title>{{tpl:lang Search}} : {{tpl:SysSearchString encode_html="1"}} - {{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf></title>
</tpl:Block>

<tpl:Block name="meta-robots">
	<meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX,NOARCHIVE"}}" />
</tpl:Block>

<tpl:Block name="head-linkrel">
	<link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
	<tpl:Entries no_content="1">
		<tpl:EntriesHeader>
			<tpl:Pagination>
				<tpl:PaginationIf end="0">
					<link rel="prev" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}" />
				</tpl:PaginationIf>
				<tpl:PaginationIf start="0">
					<link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}" />
				</tpl:PaginationIf>
			</tpl:Pagination>
		</tpl:EntriesHeader>
		<link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle encode_html="1"}}" />
	</tpl:Entries>
	<link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}" />
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-search"></tpl:Block>

<tpl:Block name="main-content">
	<header id="content-info" class="content-info">
		<h2>{{tpl:lang Search results}}</h2>
		<tpl:SysIf search_count="==0">
			<p>{{tpl:SysSearchString encode_html="1" string="Your search for <em>%1$s</em> returned no result."}}</p>
		</tpl:SysIf>
		<tpl:SysIf search_count="==1">
			<p>{{tpl:SysSearchString encode_html="1" string="Your search for <em>%1$s</em> returned <strong>%2$s</strong> result."}}</p>
		</tpl:SysIf>
		<tpl:SysIf search_count="&gt;1">
			<p>{{tpl:SysSearchString encode_html="1" string="Your search for <em>%1$s</em> returned <strong>%2$s</strong> results."}}</p>

 			<tpl:Entries no_content="1">
				<tpl:EntriesHeader>
					<tpl:Pagination>
						<p class="nb-post-page">({{tpl:BlogNbEntriesPerPage}} résultats par page)</p>
					</tpl:Pagination>
				</tpl:EntriesHeader>
			</tpl:Entries>

		</tpl:SysIf>
	</header>

		<tpl:Entries>
			<tpl:EntriesHeader>
				<div class="content-inner simple">
			</tpl:EntriesHeader>

			{{tpl:include src="_entry-short.html"}}

			<tpl:EntriesFooter>
				</div>

      {{tpl:include src="_pagination.html"}}

    </tpl:EntriesFooter>

		</tpl:Entries>
	</div> <!-- # End #content-inner -->
</tpl:Block>
