{{tpl:extends parent="__layout.html"}}

<tpl:Block name="head-title">
	<title>{{tpl:lang Tag}} - {{tpl:TagID}} - {{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf></title>
</tpl:Block>

<tpl:Block name="meta-entry">
	<meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
	<meta name="date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
</tpl:Block>

<tpl:Block name="head-linkrel">
	<link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
	<tpl:Entries no_content="1">
		<tpl:EntriesHeader>
			<tpl:Pagination>
				<tpl:PaginationIf end="0">
					<link rel="prev" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}" />
				</tpl:PaginationIf>

				<tpl:PaginationIf start="0">
					<link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}" />
				</tpl:PaginationIf>
			</tpl:Pagination>
		</tpl:EntriesHeader>

		<link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle encode_html="1"}}" />
	</tpl:Entries>

	<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:TagFeedURL type="atom"}}" />
	<link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}" />
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-tag"></tpl:Block>

<tpl:Block name="main-content">
	<div class="post simple">

		<p class="pagination"><a href="{{tpl:BlogURL}}tags">Les contraintes littéraires</a></p>

		<header id="content-info">
			<h2 class="tag-name">Contrainte {{tpl:TagID}}</h2>
		</header>

		<div class="tag-desc">
			{{tpl:TagLabel}}
		</div>

		<tpl:Entries no-content="1" order="asc">
			<tpl:EntriesHeader>
				<ul class="one-day-list">
			</tpl:EntriesHeader>
				<tpl:EntryIf has_category="1">
					<li class="arch-post {{tpl:EntryCategoryShortURL}}">
					<p class="arch-post-p arch-post-adb">Note de la Direction</p>
				</tpl:EntryIf>
				<tpl:EntryIf has_category="0">
					<li class="arch-post {{tpl:AuthorRoomClass}}">
					<p class="arch-post-p arch-post-author">{{tpl:EntryAuthorDisplayName}}</p>
				</tpl:EntryIf>
					<p class="arch-post-p arch-post-title"><a href="{{tpl:EntryURL}}">{{tpl:EntryTitle}}</a></p>
				</li>

			<tpl:EntriesFooter>
				</ul>
				{{tpl:include src="_pagination.html"}}
			</tpl:EntriesFooter>
		</tpl:Entries>

	</div>
</tpl:Block>
