{{tpl:extends parent="__layout.html"}}

<tpl:Block name="head-title">
	<title>{{tpl:lang Tags}} - {{tpl:BlogName encode_html="1"}}</title>
</tpl:Block>

<tpl:Block name="meta-robots">
	<meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX"}}" />
</tpl:Block>

<tpl:Block name="head-linkrel">
  <link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  <link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}" />
</tpl:Block>

<tpl:Block name="body-tag"><body class="dc-tag"></tpl:Block>

<tpl:Block name="main-content">
  <article class="post simple">
    <header id="content-info">
      <h2>Contraintes littéraires</h2>
      <p>Une contrainte littéraire facultative est proposée chaque semaine aux auteurs</p>
    </header>

    <div class="post-content">

    	<ul class="tags">
    	  <tpl:Tags order="asc">
    		<li>
          <h3><a href="{{tpl:TagURL}}" class="tag{{tpl:TagRoundPercent}}">{{tpl:TagID}}</a></h3>
          <div>{{tpl:TagLabel}}</div>
        </li>
    	  </tpl:Tags>
    	</ul>
    </div>
  </article>
</tpl:Block>
