<!-- Favicons Generated with favicon.il.ly -->
<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="{{tpl:BlogThemeURL}}/img/favicon-{{tpl:BlogShortname}}/favicon.ico">
<!--[if IE]>
<link rel="shortcut icon" href="favicon.ico">
<![endif]-->
<!-- Optional: Android & iPhone-->
<link rel="icon apple-touch-icon-precomposed" href="{{tpl:BlogThemeURL}}/img/favicon-{{tpl:BlogShortname}}/favicon-152.png">
<!-- Optional: IE10 Tile.-->
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="{{tpl:BlogThemeURL}}/img/favicon-{{tpl:BlogShortname}}/favicon-144.png">
<!-- Optional: ipads, androids, iphones, ...-->
<link rel="apple-touch-icon" sizes="152x152" href="{{tpl:BlogThemeURL}}/img/favicon-{{tpl:BlogShortname}}/favicon-152.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{tpl:BlogThemeURL}}/img/favicon-{{tpl:BlogShortname}}/favicon-144.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{tpl:BlogThemeURL}}/img/favicon-{{tpl:BlogShortname}}/favicon-120.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{tpl:BlogThemeURL}}/img/favicon-{{tpl:BlogShortname}}/favicon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{tpl:BlogThemeURL}}/img/favicon-{{tpl:BlogShortname}}/favicon-72.png">
<link rel="apple-touch-icon" href="{{tpl:BlogThemeURL}}/img/favicon-{{tpl:BlogShortname}}/favicon-57.png">


<!-- # scripts spécifiques -->
<script src="{{tpl:BlogThemeURL}}/auberge.js"></script>
<!-- <script src="{{tpl:BlogThemeURL}}/faq.js"></script>
 -->
<link rel="stylesheet" type="text/css" href="{{tpl:BlogThemeURL}}/overwrite-{{tpl:BlogShortname}}.css" media="screen" />

<link rel="stylesheet" type="text/css" href="{{tpl:BlogThemeURL}}/print.css" media="print" />
<!-- # empêche les icones d'être gigantesques quand css désactivée -->

<style>.icon{width:1em;height:1em}</style>
